<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel office</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Travel Office</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="upcomingTrips">Upcoming trips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="continenttrip">Continent trips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="country">Country trips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="latest">Latest bought trips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="own">Own search criteria</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<br>
<h2>Upcoming Trips</h2>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Departure date</th>
        <th scope="col">Return date</th>
        <th scope="col">Trip length</th>
        <th scope="col">Trip type</th>
        <th scope="col">Adult price</th>
        <th scope="col">Child price</th>
        <th scope="col">Promoted trip</th>
        <th scope="col">Free adult places</th>
        <th scope="col">Free child places</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="upcoming : ${upcomings}">
        <td th:text="${upcoming.cityOrigin}">Origin</td>
        <td th:text="${upcoming.cityDestination}">Destination</td>
        <td th:text="${upcoming.departureDate}">Departure date</td>
        <td th:text="${upcoming.returnDate}">Return date</td>
        <td th:text="${upcoming.tripDaysCount}">Trip length</td>
        <td th:text="${upcoming.tripType}">Tripe type</td>
        <td th:text="${upcoming.adultPrice}">Adult price</td>
        <td th:text="${upcoming.childPrice}">Child price</td>
        <td th:text="${upcoming.promoted}">Promoted trip</td>
        <td th:text="${upcoming.tripAdultCount}">Free adult places</td>
        <td th:text="${upcoming.tripChildCount}">Free child places</td>
    </tr>
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>